body {
    background-image: url(../images/frame.jpg); /*might have to change image depending on screen size (media query)*/
    background-size: cover;
    background-position: center;
}

.center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
}

.jumbotron {
    background-color: rgba(0,0,0,.5);
    max-height: 600px; /*media query this*/
    overflow: auto;
    margin-left: 8%; /*media query this*/
    margin-right: 33%; /*media query this*/
}

.form-group {
    font-family: monospace;
    font-size: 2rem;
    color:#7cfc00;
}

.green {
    font-family: monospace;
    color:#7cfc00;
}

.gifButton {
    font-family: monospace;
    color: #7cfc00;
    background-color: black;
    border-color: black;
    margin-right: .25%;
    margin-bottom: .25%;
}

#submit {
    font-family: monospace;
    color: #7cfc00;
    background-color: black;
    border-color: black;
}

.colbtn {
    font-family: monospace;
    color: #7cfc00;
    background-color: black;
    border-color: black;
}

#gfs {
    background-color: black;
    color: #7cfc00;
    border-color: black;
}